h1 {
    color: #5BB291;
}
#rojo {
    color: red;
} 
#naranja  {
    color: #FFC660;
}
#azul {
    color: #1f13a2;
}
#rojo {
    color: red;
}
#azul {
    color: #1F7EFF;
}
#rojo {
    color: red;
}
#morado {
    color: #9d06aa;
}
#azul {
    color: #1F2BFF
}
#amarillo {
    color: #FFAC2E
}
#amarillo {
    color: #FFAC2E
}
#amarillo {
    color: #FFAC2E
}
#verde {
    color: #25F070;
}
#verde {
    color: #25F070;
}
#rojo {
    color: red;
}
#verde {
    color: #25F070;
}
#naranja {
    color: #FFAC2E;
}
#varde {
    color: #25F070;
}
#rojo {
    color: red;
}
#rojo {
    color: red;
}
#verde {
    color: #5D7053;
}
#morado {
    color: #EA31F0;
}
#verde {
    color: #116f1c;
}